@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin-left: -50px;
  margin-top: -50px;
}

.tabs {
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
  background-color: #eee;
  padding: 20px;
  display: flex; /* ボタンとワークスペースを並べるためにFlexboxを使用 */
  align-items: flex-start; /* 子要素を上揃えに配置 */
}

#blocklyDiv {
  height: 600px;
  width: 800px;
}

#content_python {
  height: 600px;
  width: 800px;
}

.tabs .visual {
  display: flex;
  flex-direction: column; /* ボタンを縦に配置 */
  margin-right: 0px; /* ボタンとワークスペースの間に隙間を作成 */
  display: flex;
  justify-content: space-between;
}

.tabs .visual li {
  width: 120px;
  text-align: center;
}

.tabs .visual li a {
  display: flex;
  align-items: center; /* テキストを垂直方向に中央揃えにする */
  justify-content: center; /* テキストを水平方向に中央揃えにする */
  height: 60px;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.3s;
  margin-bottom: 1px;
}

.tabs .visual li a:not(.active):hover {
  opacity: 0.7;
}

.tabs .visual li a.active {
  background-color: #0dca55;
}

.tabs .contents li {
  background-color: #fff;
  padding: 20px;
  display: none;
}

.tabs .contents li.active {
  display: block;
}